{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5 col-lg-4">

        <div class="card shadow-sm mt-5">
            <div class="card-body">

                <h4 class="fw-bold text-center mb-4">
                    HelpdeskPro Login
                </h4>

                <form method="post">
                    {% csrf_token %}

                    <!-- Username -->
                    <div class="mb-3">
                        <label class="form-label fw-semibold">Username</label>
                        {{ form.username }}
                    </div>

                    <!-- Password -->
                    <div class="mb-4">
                        <label class="form-label fw-semibold">Password</label>
                        {{ form.password }}
                    </div>

                    <!-- Submit -->
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">
                            Login
                        </button>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>
{% endblock %}
